<?xml version="1.0" ?>
<robot name="motoman_hc10" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find yaskawa_hc10)/urdf/hc10_macro.xacro" />
  
  <!-- Joint controller -->
  <gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
  </gazebo>

  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <xacro:motoman_hc10 prefix=""/>

  <link name="world"/>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

</robot>
